boto3==1.11.8
botocore==1.14.8
certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
elasticsearch==7.5.1
idna==2.8
jmespath==0.9.4
nltk==3.4.5
python-dateutil==2.8.1
requests==2.22.0
requests-aws4auth==0.9
s3transfer==0.3.2
six==1.14.0
textblob==0.15.3
urllib3==1.25.8
